<div class="mainContainer">
  <div class="home-page-header">

    <!-- Discover Bar -->
    <div class="welcomeBar">
      <div class="welcomeBar-inner">
        <h1 class="fancy-heading fontSize20 vCentered js-discoverHeading"><%= polyglot.t('Discover') %></h1>
        <a href="#userPage" class="btn btn-txt custCol-background positionWrapper pull-right right10 marginTop9 marginLeft6">
          <span class="ion-document-text fontSize11 marginRight2 textOpacity1"></span>
          <%= polyglot.t('GoToMyPage') %>
        </a>
        <a class="btn btn-txt custCol-background js-sellItem positionWrapper pull-right marginTop9 right10 js-homeCreateListing">
          <span class="ion-ios-pricetag fontSize11 marginRight2 textOpacity1"></span>
          <%= polyglot.t('nav.createListing') %>
        </a>  
        <a class="btn btn-txt custCol-background positionWrapper pull-right marginTop9 right10 js-homeCreateStore">
          <span class="ion-ios-cart fontSize11 marginRight2 textOpacity1"></span>
          <%= polyglot.t('CreateStore') %>
        </a>
      </div>
    </div>

    <!-- Tabs: Listings, Pages, and Global Chat -->
    <div class="bar barFlush navBar home-page-navigation height55">
      <a class="btn btn-bar btn-tab active js-productsTab">
        <span class="ion-ios-pricetag fontSize11 marginRight2 textOpacity1"></span> 
        <%= polyglot.t('Listings') %>
      </a>
      <a class="btn btn-bar btn-tab js-vendorsTab">
        <span class="ion-document-text fontSize12 marginRight2 textOpacity1"></span> 
        <%= polyglot.t('Pages') %>
      </a>
      <a class="btn btn-bar btn-tab js-globalChatTab">
        <span class="ion-ios-chatboxes fontSize12 marginRight2 textOpacity1"></span> 
        <%= polyglot.t('Global Chat') %>
      </a>
      <a class="btn btn-bar btn-tab js-requestsTab">
        <span class="ion-ios-people fontSize12 marginRight2 textOpacity1"></span> 
        <%= polyglot.t('Requests') %>
      </a>
    </div>
  </div>

  <!-- ? -->
  <div class="bar home-page-navigation-filler hide custCol-primary"></div>

  <!-- js-globalChat HTML goes here -->
  <div class="color-primary js-globalChat minHeight650 hide">
    <div class="flexRow height130">
        <p id="irc"></p>
        <br>
    </div>
    <br>
    <div class="flexRow">
      <p><input type="text" class="txtField txtField-bar" id="ircmessage" placeholder="Chat here" /></p>
    </div>
    <div class="flexRow">
      <p><button class="btn btn-txt btn-discoverToggle borderRadiusBottom0 btn-togLeft js-sendircmessage" style="color:white" type="submit">Send</button></p>
    </div>
  </div>

  <!-- js-requests HTML goes here -->
  <div class="color-primary js-requests hide">
    <!-- Toggle Requests -->
    <div class="flewRow">
      <!-- Spacer -->
      <div class="bar custCol-primary"></div>
      <!-- Requests Table -->
      <table id="requeststable" style="display:none;">
        <thead>
          <tr>
            <th scope="row" style="text-align: center; font-size:80%">Request ID</th>
            <th scope="row" style="text-align: center; font-size:80%">Name</th>
            <th scope="row" style="text-align: center; font-size:80%">Description</th>
            <th scope="row" style="text-align: center; font-size:80%">Price Code</th>
            <th scope="row" style="text-align: center; font-size:80%">Price Min.</th>
            <th scope="row" style="text-align: center; font-size:80%">Price Max.</th>
            <th scope="row" style="text-align: center; font-size:80%">Type</th>
            <th scope="row" style="text-align: center; font-size:80%">Image</th>
            <th scope="row" style="text-align: center; font-size:80%">Location</th>
            <th scope="row" style="text-align: center; font-size:80%">Comments</th>
            <th scope="row" style="text-align: center; font-size:80%">Bid</th>
          </tr>
        </thead>
        <tbody style="font-size:80%"></tbody>
      </table>
    </div>

    <!-- Submit a request form -->
    <!--<div class="flexRow">
      <form name="sendrequest" method="POST" enctype="application/x-www-form-urlencoded" id="requestform">
          <div class="flexRow">
            <label for="requestname">Name</label>
            <input id="requestname" type="text" name="name" class="txtField txtField-bar textOpacity50" required>
            <small id="requestnamehelp" class="form-text text-muted">What is the name of the good or service you want to request?</small>
          </div>
          <br>
          <div class="form-group">
            <label for="requestdescription">Description</label>
            <input id="requestdescription" type="text" name="description" class="txtField txtField-bar" required>
            <small id="requestdescriptionhelp" class="form-text text-muted">Describe what you want.</small>
          </div>
          <div class="form-group">
            <label for="requestpricecode">Price Code</label>
            <input id="requestpricecode" type="text" name="price_code" class="txtField txtField-bar" required>
            <small id="requestpricecodehelp" class="form-text text-muted">What is the currency code?</small>
          </div>
          <div class="form-group">
            <label for="requestpriceminimum">Price Minimum</label>
            <input id="requestpriceminimum" type="number" name="price_min" class="txtField txtField-bar" required>
            <small id="requestpriceminimumhelp" class="form-text text-muted">Minimum price you're willing to pay.</small>
          </div>
          <div class="form-group">
            <label for="requestpricemaximum">Price Maximum</label>
            <input id="requestpricemaximum" type="number" name="price_max" class="txtField txtField-bar" required>
            <small id="requestpricemaximumhelp" class="form-text text-muted">Maximum price you're willing to pay.</small>
          </div>
          <div class="form-group">
            <label for="requestkeywords">Keywords</label>
            <input id="requestkeywords" type="text" name="keywords" class="txtField txtField-bar" required>
            <small id="requestkeywordshelp" class="form-text text-muted">What are some of the keywords that apply to what you want?</small>
          </div>
          <div class="form-group">
            <label for="requesttype">Type</label>
            <select id="requesttype" name="type" class="txtField txtField-bar" required>
              <option value="physical">Physical Good</option>
              <option value="digital">Digital Good</option>
              <option value="service">Service</option>
            </select>
            <small id="requesttypehelp" class="form-text text-muted">Do you want a physical good, digital good, or service?</small>
          </div>
          <div class="form-group">
            <label for="requestimages">Images</label>
            <input id="requestimages" type="url" name="images" class="txtField txtField-bar" required>
            <small id="requestimageshelp" class="form-text text-muted txtField txtField-bar">Submit a direct html link.</small>
          </div>
          <div class="form-group">
            <label for="requestlocation">Location</label>
            <input id="requestlocation" type="text" name="location" class="txtField txtField-bar" required>
            <small id="requestlocationhelp" class="form-text text-muted">What country do you live in? Helps the Vendor determine if they can ship to you.</small>
          </div>
          <div class="form-group">
            <label for="requestcomments">Comments</label>
            <input id="requestcomments" type="text" name="comments" class="txtField txtField-bar" required>
            <small id="requestcommentshelp" class="form-text text-muted">Any special comments about this request?</small>
          </div>
          <input type="submit" class="btn btn-txt btn-discoverToggle borderRadiusBottom0 btn-togLeft" id="submitrequestbutton" style="color:white" />
      </form>
    </div>-->
  </div>

  <!-- Search bar + filtering -->
  <div class="flex-border color-primary height54 js-productsSearch">
    <div class="flexRow">
      <div class="flexRow borderBottom">
        <div class="flexCol-12">
          <div class="txtFieldWrapper searchWrapper">
            <input type="text" class="txtField txtField-bar js-homeSearchItems" placeholder="<%= polyglot.t('SearchForItemsPlaceholder') %>" />
            <a class="btn-corner btn-cornerTR ion-ios-close vCentered icon-med hide js-homeSearchItemsClear textOpacity50"></a>
          </div>
          <div class="flexRow positionAbsolute">
            <div class="btn-togWrapper btn-togWrapper-c1 btn-toWrapper-discoverToggle marginRight10 js-homeListingToggle">
              <a class="btn btn-txt btn-discoverToggle borderRadiusBottom0 btn-togLeft active js-homeListingsFollowed tooltip tooltip-left"
                 data-tooltip="<%= polyglot.t('ShowOnlyFollowerListingsTooltip') %>">
                <span class="ion-person fontSize11 marginRight2 toggle-txt"></span>
                <span class="toggle-txt"><%= polyglot.t('ShowOnlyFollowerListings') %></span>
              </a>
              <% if(!localStorage.getItem('safeListingsWarningDissmissed')){ %>
                <div class="discoverToggleHelper js-discoverToggleHelper"><%= polyglot.t('TryRandom') %></div>
              <% } %>
              <a class="btn btn-txt btn-discoverToggle borderRadiusBottom0 btn-togRight js-homeListingsAll tooltip tooltip-left"
                 data-tooltip="<%= polyglot.t('ShowAllListingsTooltip') %>">
                <span class="ion-earth fontSize11 marginRight2 toggle-txt"></span>
                <span class="toggle-txt"><%= polyglot.t('Random') %></span>
              </a>
            </div>
          </div>
        </div>
        <!--
        <div class="js-vendorsSearch width100 hide">
          <div class="txtFieldWrapper searchWrapper searchWrapperWithPill borderBottom">
            <input type="text" class="txtField txtField-bar js-homeSearchUsers" placeholder="<%= polyglot.t('SearchForPagesPlaceholder') %>" />
          </div>
          <div class="selectPill pull-up43">
            <select class="custCol-secondary">
              <option value="all"><%= polyglot.t('filters.pagesAllTypes') %></option>
              <option value="stores" selected><%= polyglot.t('filters.pagesStores') %></option>
              <option value="moderators"><%= polyglot.t('filters.pagesMods') %></option>
              <option value="basic"><%= polyglot.t('filters.pagesBasic') %></option>
            </select>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>

  <!-- Search spinner -->
  <div class="flexRow flexRow-wrap color-primary js-vendors minHeight650 hide">
    <div class="padding10 width100 alignCenter js-loadingSpinner spinnerWrapper borderTop">
      <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
    </div>
  </div>
  
  <!-- Listings in a grid -->
  <div class="homeGridItems">
    <div class="js-products color-primary minHeight650">
      <div class="js-blocked-listings-count color-primary width100 hide"></div>
      <div class="flexRow">
        <div class="padding10 marginBottom12 width100 alignCenter js-loadingSpinner">
          <div class="js-loadingMessage spinnerWrapper">
            <i class="ion-android-sync spinner textSize24px textOpacity50"></i>
            <div class="textOpacity75 typeWeight400 marginTop6">
              <div class="js-loadingText" data-default-text="<%= polyglot.t('discover.searchDefaultText') %>" data-searching-text="<%= polyglot.t('discover.searchingText') %>"><%= polyglot.t('discover.searchDefaultText') %></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <!-- Back to the top floating button -->
  <%= ob.backToTopTmpl() %>

  <!-- Padding at the bottom -->
  <div class="navBar custCol-secondary" style="padding: 4px 0"></div>
</div>
